.faq-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  margin: 3rem auto;
}

.faq-left {
  flex: 1;
  padding-right: 2rem; 
}

.faq-subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem; 
  color: #444;
}

.faq-title {
  font-size: 2.5rem;
  font-weight: 600; 
  color: #000;
}

.faq-right {
  flex: 2;
  margin-top: 2.5rem; 
}

.faq-item {
  background-color: #f9f9f9;
  margin-bottom: 1rem;
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.faq-item:hover {
  background-color: #f1f1f1;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 24px;
  color: #000;
}

.faq-answer {
  margin-top: 0.5rem;
  color: #555;
  font-weight: 500;
}

.faq-icon {
  font-size: 1.2rem;
}
