.footer1a-container {
  width: 100%;
  height: 220px;
  position: relative;
  overflow: hidden;
}
.footer1a-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer1a-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer1a-overlay h1 {
  color: white;
  font-size: 2rem;
   margin-top: 30px;
  margin-bottom: 25px;
  font-weight: 500;
}

.footer1a-overlay-btn {
   width: 260px;
   height: 50px;
   background-color: rgba(0, 163, 170, 1);
   color: white;
   border: none;
   padding: 12px 24px;
   cursor: pointer;
   border-radius: 4px;
   font-size: 1.2rem;
}