 .loginResetpassword-container{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginResetpassword-wrapperlogo{
    width:32%;
    height:15%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.loginResetpassword-wrappertext{
    width: 25%;
    height: 60%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.loginResetpassword-wrappertext-holder{
    width: 88%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.loginResetpassword-heading{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
.loginResetpassword-heading p{
    font-size: 23px;
}
.loginResetpassword-password{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.loginResetpassword-password p{
    font-size: 21px;
    padding-top: 6px;
}
.loginResetpassword-password-holder{
    width: 100%;
    height:56px;
    border-radius: 8px;
    border: 1px solid rgba(0, 163, 170, 1);
}
.loginResetpassword-password-input{
    width: 92%;
    height: 100%;
    padding-left: 12px;
    border: none;
}
.loginResetpassword-password-input::placeholder{
    font-size:17px;
    color: grey;
 }
.loginResetpassword-password-icon{
    font-size: 17px;
    margin-top: 8px;
    cursor: pointer;
}
.loginResetpassword-newpassword{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.loginResetpassword-newpassword p{
    font-size: 21px;
    padding-top: 6px;
}
.loginResetpassword-newpassword-holder{
    width: 100%;
    height:56px;
    border-radius: 8px;
    border: 1px solid rgba(0, 163, 170, 1);
}
.loginResetpassword-newpassword-input{
    width: 92%;
    height: 100%;
    padding-left: 12px;
    border: none;
}
.loginResetpassword-newpassword-input::placeholder{
    font-size:17px;
    color: grey;
 }
.loginResetpassword-newpassword-icon{
    font-size: 17px;
    margin-top: 8px;
    cursor: pointer;
}
.loginResetpassword-button{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    padding-top: 30px;
}
.loginResetpassword-btn{
    width: 100%;
    height: 56px;
}