
.signup-container {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-wrapperlogo {
    width: 32%;
    height: 13%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.signup-wrappertext {
    width: 25%;
    min-height: 80%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 24px 0; 
}

.signup-wrappertext-holder {
    width: 88%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px; 
}
.signup-heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}

.signup-heading p {
    font-size: 23px;
    margin: 0;
}

.signup-fullname,
.signup-email,
.signup-password,
.signup-confirmpassword {
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative; 
}

.signup-fullname p,
.signup-email p,
.signup-password p,
.signup-confirmpassword p {
    font-size: 21px;
    margin: 0; 
}
.signup-fullname-input,
.signup-email-input,
.signup-password-input,
.signup-confirmpassword-input {
    width: 100% !important;
    height: 56px !important; 
    border-radius: 8px;
    border: 1px solid rgba(0, 163, 170, 1);
    padding-left: 12px;
    padding-right: 40px;
}

.signup-fullname-input::placeholder,
.signup-email-input::placeholder,
.signup-password-input::placeholder,
.signup-confirmpassword-input::placeholder {
    font-size: 17px;
    color: grey;
}

.password-wrapper {
    position: relative;
    width: 100%;
    height: 56px; 
    display: flex;
    align-items: center;
}

.eye-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: gray;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-text {
    color: red;
    font-size: 14px;
    margin: 0;
}

.signup-button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 12px;
}

.signup-btn {
    width: 100%;
    height: 56px;
    cursor: pointer;
}
